<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <!-- Background container for sign-in -->
    <div id="new-post-background"> 
      <h2 style="text-align:center; padding-top:20px;">Sign Up</h2>

      <!-- ADD USER-NAME FIELD IN DB -->
      <!-- <div class="container">
        <h2 class="field-title">User Name</h2>
        <%= f.input :email, required: true, autofocus: true, label:false, input_html: { class: 'text-field'} %>
      </div> -->

      <div class="container">
        <h2 class="field-title">Email</h2>
        <%= f.input :email, required: true, autofocus: true, label:false, input_html: { class: 'text-field'} %>
      </div>
      <div class="container">
        <h2 class="field-title">Password</h2>
        <%= f.input :password, required: true, label:false, input_html: { class: 'text-field'} %>
      </div>
      <div class="container">
        <h2 class="field-title">Confirm Password</h2>
        <%= f.input :password_confirmation, required: true, label:false, input_html: { class: 'text-field'} %>
      </div>

      <!-- ADD PICTURE FIELD IN DB -->
      <!-- <div class="container">
        <h2 class="field-title">Item Picture</h2>
        <%= f.file_field :image, :class => 'pic-input'%>
      </div> -->

      <div style="text-align:center">
        <%= f.submit :class=>'btn btn-lg btn-primary btn-blue btn-post' %>
      </div>
    </div>
  </div>
</div>
<% end %>