<h2>Sign up</h2>

<%= form_for @user, :url => user_registration_path do |f|  %>
    <%= devise_error_messages! %>
  <div class="form-inputs">
    <%= f.text_field :email%>
    <%= f.password_field :password%>
    <%= f.password_field :password_confirmation%>
  </div>
  <div class="form-actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

