<%= form_for(@testicle) do |f| %>
  <% if @testicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testicle.errors.count, "error") %> prohibited this testicle from being saved:</h2>

      <ul>
      <% @testicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
