<%= form_for @classified_post, :html => { :multipart => true, :class => 'col-md-10 no-padding'}  do |f| %>
<div id="grey-background">
  <h2 class="form-title">Create a Post</h2>
  <% if @classified_post.errors.any? %>
  <div class="form-group">
    <h5><%= pluralize(@classified_post.errors.count, "error") %> prevented this post from being created.</h5>
    <ul>
      <% @classified_post.errors.full_messages.each do |message| %>
      <li style="color: red"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6">
      <h2 class="field-title">Title</h2>
      <%= f.text_field :title, :class => 'form-control', :placeholder => "Enter a title"%>
      <div class="row" style="margin:none">
        <div class="col-lg-5">
          <h2 class="field-title">Select a Category</h2>
          <select name="classified_post[classified_category_id]" class="category-dropdown">
            <option value="" disabled selected style="display:none;">Select A Category</option>
            <%= options_from_collection_for_select(ClassifiedCategory.all, :id, :name) %>
          </select>
        </div>
        <div class="col-lg-7">
          <h2 class="field-title">Course Name</h2>
          <%= f.text_field :course_name, :class => 'form-control', :placeholder => "Enter the course number"%>
        </div>
      </div>
        <h2 class="field-title">Item Price</h2>
        <%= f.text_field :price, :class => 'form-control', :placeholder => "Enter a price"%>
    </div>
    <div class="col-lg-6">
      <div>
        <h2 class="field-title">Item Author</h2>
        <%= f.text_field :author, :class => 'form-control', :placeholder => "Enter the book's author"%>
      </div>
      <div>
        <h2 class="field-title">Item Edition</h2>
        <%= f.text_field :edition, :class => 'form-control', :placeholder => "Enter the book edition"%>
      </div>
      <div>
        <h2 class="field-title">Item ISBN</h2>
        <%= f.text_field :isbn, :class => 'form-control', :placeholder => "Enter an ISBN"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div id="item-disc" class="from-group">
        <h2 class="field-title">Item Description</h2>
        <%= f.text_area :description, :style => 'resize:none;', :class => 'form-control', :placeholder => "Describe your post", :rows => '6'%>
      </div>

      <div id="item-pic" class="form-group">
        <h2 class="field-title">Item Picture</h2>
        <%= f.file_field :image, :class => 'pic-input'%>
        <p class="help-block">Select a picture for your post</p>
      </div>
      <div id="item-concent" class="checkbox">
        <label>
          <%= f.check_box :terms %><label id="regulation">I agree to the posting <a href="#">guidelines and regulations</a></label>
        </label>
      </div>
      <div class="row" style="text-align:center;">
        <%= f.submit :type => 'submit', :class=>'btn btn-default btn-lg btn-blue btn-post' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="modal fade" id="regulation-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(document).ready(function(){
  $('#regulation').on('click',function(){
    $('#regulation-modal').modal();
  });
});
</script>
