<%= form_for(@classified_post) do |f| %>
  <% if @classified_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classified_post.errors.count, "error") %> prohibited this classified_post from being saved:</h2>

      <ul>
      <% @classified_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label 'Title: ', :title %>
    <%= f.text_field :title%>
    <br/>
    <%= label 'Description: ', :description %>
    <%= f.text_field :description%>
    <br/>
    <%= label 'Image: ', :image %>
    <%= f.text_field :image%>
    <br/>
    <%= label 'Price: ', :price %>
    <%= f.text_field :price%>
    <br/>
    <%= label 'Category Dropdown', :classified_category_id %>
    <%= collection_select(:classified_post,:classified_category_id, ClassifiedCategory.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
