<div class="row">
  <% posts.each do |post| %>
  <div class="col-sm-4 col-md-4 no-padding">
    <div class="ad-container">
      <%= link_to(post) do %>
      <div class="ad-frame">
        <%=image_tag post.image.url(:small), :class => 'featured-pic center-pic' %>
        <% end %>
        <h4><%=post.title%></h4>
        <h4>$<%=number_with_precision(post.price, :precision => 2)%></h4>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- Filter Error Catch -->
<% if posts.size == 0 %>
<div class="text-center">
  <h4 style="font-size:200%;">There are no posts with your selected search filter</h4>
</div>
<% end %>

<!-- Pagination at Bottom of Screen -->
<div class="row text-center">
  <%= will_paginate posts , :renderer => 'BootstrapPaginationHelper::LinkRenderer', :class => 'pagination-custom pagination'%>
</div>