<% posts.each do |post| %>
    <div class="col-sm-4 col-md-4">
      <%= link_to(post) do %>
          <div class="ad-container">
            <div class="ad-frame">
              <%=image_tag post.image.url(:small), :class => 'featured-pic center-pic' %>
              <div class="ad-info">
                <h4 class="ad-item-title"><%=post.title%></h4>
                <h5>Price: <%=post.price%></h5>
                <p><%=format_timesince post.updated_at%></p>
              </div>
            </div>
          </div>
      <% end %>
    </div><% end %>

<!-- Old Paginate at bottom of screen -->
<div class="">
  <%= will_paginate posts , :renderer => 'BootstrapPaginationHelper::LinkRenderer',
      :class => 'pagination'%>
</div>