<h1>Listing classified_posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classified_posts.each do |classified_post| %>
      <tr>
        <td><%= link_to 'Show', classified_post %></td>
        <td><%= link_to 'Edit', edit_classified_post_path(classified_post) %></td>
        <td><%= link_to 'Destroy', classified_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if is_expired?(classified_post) %>
            <td><%= link_to 'Relist', relist_classified_post_path(classified_post), method: :post, remote: true%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classified post', new_classified_post_path %>
