<div class="container">
  <div class="row row-centered">
    <div class="col-md-6 col-md-offset-2">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading">
          <%= @classified_post.title %>
        </div>
        <div class="panel-body">
          <%= image_tag @classified_post.image.url(:large), :class => 'pic-single center-pic'%>
          <div class="disc-container">
            <p class="disc"><%=@classified_post.description%></p>
            <p>$<%=@classified_post.price %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading"><%=@classified_post.user.email%></div>
        <div class="panel-body">
          <!-- <div class="row"> -->
            <%= image_tag 'picolasCage.jpg', :class => 'featured-pic center-pic' %>
            <h4>Kevin Eger</h4>
            <h5>University of British Columbia</h5>
            <h5><span class="glyphicon glyphicon-envelope"></span><%=link_to 'Message This User',new_message_path %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to 'Edit', edit_classified_post_path(@classified_post) %> |
    <%= link_to 'Back', classified_posts_path %>
  </div>
</div>


