<div class="container">
  <div class="row">
    
    <!-- Navigation Sidebar -->
    <div class="col-md-2">
      <%= render partial: 'classified_categories/filter_box', locals: {categories: @categories} %>
    </div>

    <!-- Ad -->
    <div class="col-md-6">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading">
          <p><%= @classified_post.title %></p>
          <% if user_signed_in? && current_user.id == @classified_post.user_id %>
              <p class="pull-right">
                Edit your post
                <%= link_to edit_classified_post_path(@classified_post) do %>
                    <i class="fa fa-pencil" style="color:#013861;"></i>
                <% end %>
              </p>
          <% end %>
        </div>
        <div class="panel-body">
          <%= image_tag @classified_post.image.url(:large), :class => 'pic-single center-pic'%>
          <div class="disc-container">
            <div class="row">
              <div class="col-md-7">
                <p><%=@classified_post.description%></p>
              </div>
              <div class="col-md-5" style="border-left:1px solid #DDD;">
                <p><strong>Author</strong>: <%=@classified_post.author %></p>
                <p><strong>Edition</strong>: <%=@classified_post.edition %></p>
                <p><strong>ISBN</strong>: <%=@classified_post.isbn %></p>
                <p><strong>Course Name</strong>: <%=@classified_post.course_name %></p>
              </div>
            </div>
            <div class="row" style="border-top:1px solid #DDD; margin-top:5px; padding-top:15px;">
            <div class="col-md-6">
              <p style="font-size:150%; margin-bottom:0; text-align:left;"><strong>Price</strong>: $<%=number_with_precision(@classified_post.price, :precision => 2) %></p>
            </div>
              <div class="col-md-6">
                <p style="margin-bottom:0; text-align:right;"><strong>Last Updated</strong>:  <%=format_timesince @classified_post.updated_at%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User Information -->
    <div class="col-md-4 no-padding">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading"><p><%=@classified_post.user.username%></p></div>
        <div class="panel-body">
          <%= image_tag @classified_post.user.image.url(:default),:class => "featured-pic center-pic" %>
            <h4 id="message-user" style="text-align:center;"><%= link_to new_conversation_path(:user => @classified_post.user.id, :post => @classified_post.id) do %><span class="glyphicon glyphicon-envelope"></span> Message this user<% end %></h4>
        </div>
      </div>
    </div>

  </div>

</div>


