<div class="container">
  <div class="row">
    
    <!-- Navigation Sidebar -->
    <div class="col-md-2">
      <%= render partial: 'classified_categories/filter_box', locals: {categories: @categories} %>
    </div>

    <!-- Ad -->
    <div class="col-md-6 no-padding">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading">
          <%= @classified_post.title %>
        </div>
        <div class="panel-body">
          <%= image_tag @classified_post.image.url(:large), :class => 'pic-single center-pic'%>
          <div class="disc-container">
            <p class="disc"><%=@classified_post.description%></p>
            <p>$<%=@classified_post.price %></p>
          </div>
        </div>
      </div>
    </div>

    <!-- User Information -->
    <div class="col-md-4 no-padding">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading"><%=@classified_post.user.username%></div>
        <div class="panel-body">
            <%= image_tag 'picolasCage.jpg', :class => 'featured-pic center-pic' %>
            <h4><%= @classified_post.user.username%></h4>
            <h5 id="message-user"><%= link_to new_conversation_path(:user => @classified_post.user.id, :post => @classified_post.id) do %><span class="glyphicon glyphicon-envelope"></span> Message this user<% end %></h5>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <%= link_to 'Edit', edit_classified_post_path(@classified_post) %> |
    <%= link_to 'Back', classified_posts_path %>
  </div>
</div>


