<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row row-centered">
    <div class="col-md-6 col-md-offset-2">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading"><%= @classified_post.title %></div>
        <div class="panel-body">
          <p>Category: <%=@classified_post.classified_category.name%></p>
          <%= image_tag @classified_post.image.url(:medium) %>
          <p><%=@classified_post.description%></p>
          <p><%=@classified_post.price %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default ad-panel">
        <div class="panel-heading"><%=@classified_post.user.email%></div>
        <div class="panel-body">
          <%= image_tag 'picolasCage.jpg', :class => 'featured-pic' %>
          <p>This is where information about the poster will go</p>
          <p> <b>Message this user </b><span class="glyphicon-envelope"></span></p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <%= link_to 'Edit', edit_classified_post_path(@classified_post) %> |
    <%= link_to 'Back', classified_posts_path %>
  </div>
</div>


