<div class="container">

<p id="notice"><%= notice %></p>

<h3><%=@conversation.subject%></h3>
<% @conversation.messages.each do |t|  %>
  <hr/>
  <p><%=t.body%></p>
  <p>Sent From <%= t.user.email %></p>
<% end %>
  <hr/>
<%= render '/messages/form', :locals =>{:message=>@message}%>
</div>