
<div class="container">
    <%= form_for @user, :url => user_session_path do |f|  %>
        <h2 class="form-signin-heading">Please sign in</h2>
        <%= devise_error_messages! %>
        <div class="form-inputs">
            <%= f.text_field :email %>
            <%= f.password_field :password %>
            <%= f.check_box :remember_me%>
        </div>
        <div class="form-actions">
            <%= f.submit "Sign in"%>
        </div>
    <% end %>
</div> <!-- /container -->

<!-- BELOW IS THE ORIGINAL FRONTEND CODE -->

    <!-- <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email Address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block btn-blue" type="submit">Sign in</button>
      </form>

    </div>
-->