<p><%=@to.username%>,</p>
<br>
<br>
<p>You have received a new private message at <a href="http://myunitrade.com"></a> from <%=@from.username%> regarding <%=@message.conversation.subject%>,<br>
  <br><i><%=@message.body%></i><br>
  <br><a href="http://myunitrade.com/profile/<%=@to.id.to_s%>">Respond to this message at MyUniTrade</a>
</p>