<p><%=@to.username%>,</p>
<br>
<p>You have received a new private message at <a href="http://myunitrade.com">MyUniTrade</a> from <%=@from.username%> regarding <strong><%=@conversation.subject%></strong>,<br>
  <br><i><%=@conversation.messages.first.body%></i><br>
  <br><a href="http://myunitrade.com/profile/<%=@to.id.to_s%>#messages">Respond to this message at <strong>MyUniTrade</strong></a>
</p>