<div class="container">
	<div class="col-lg-12">
		<%=image_tag("logoBGNewMoto.png", :style => "width:100%") %>
	</div>
	<div class="col-lg-12">
		<div class="jumbotron" style="margin:20px;">
			<p style="line-height:120%;"><strong>MyUniTrade</strong> is a student-run textbook marketplace for University of Calgary students. The site is designed to make textbook buying and selling among fellow students safe and easy. List your old textbooks on our site, meet right on campus, and get cash for your textbooks today!</p>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="jumbotron" style="margin:20px;">
			<h1 style="margin-bottom:20px;">The Team</h1>
			<div class="row team-frame">
				<div class="col-lg-6">
					<%=image_tag("team/ian.jpg", :style => "width:100%") %>
				</div>
				<div class="col-lg-6">
					<h2>Ian Feil</h2>
					<p><strong>Co-Founder + Business Developer</strong></p>
					<p>Ian is a 3rd year bachelor of commerce major at the University of Calgary, specializing in entrepreneurship and innovation. His role at MyUniTrade is driving marketing efforts, internal business development, and seeking innovative ways to bring MyUniTrade nationwide.</p>
					<div class="row" style="margin-top:40px;">
						<div class="col-md-6" style="text-align:center">
							<a href="mailto:ianfeil@shaw.ca">
								<%=image_tag("email.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
						<div class="col-md-6" style="text-align:center">
							<a href="">
								<%=image_tag("linkedin_bw.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
					</div>
				</div>
			</div>
						<div class="row team-frame">
				<div class="col-lg-6">
					<%=image_tag("team/tom.jpg", :style => "width:100%") %>
				</div>
				<div class="col-lg-6">
					<h2>Tom Larose</h2>
					<p><strong>Co-Founder + Market Development</strong></p>
					<p>Tom is a 3rd year business student at the University of Calgary, majoring in entrepreneurship and innovation. Tom’s main role at MyUniTrade revolves around market development, public relations, and financial management.</p>
					<div class="row" style="margin-top:40px;">
						<div class="col-md-6" style="text-align:center">
							<a href="">
								<%=image_tag("email.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
						<div class="col-md-6" style="text-align:center">
							<a href="">
								<%=image_tag("linkedin_bw.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
					</div>
				</div>
			</div>
						<div class="row team-frame">
				<div class="col-lg-6">
					<%=image_tag("team/kevin.jpg", :style => "width:100%") %>
				</div>
				<div class="col-lg-6">
					<h2>Kevin Eger</h2>
					<p><strong>Co-Founder + Web Developer</strong></p>
					<p>Kevin is a 3rd year computer science student at the University of British Columbia Okanagan. Kevin’s efforts are geared primarily towards user experience and front-end development.</p>
					<div class="row" style="margin-top:40px;">
						<div class="col-md-4" style="text-align:center">
							<a href="mailto:egerkevinjames@gmail.com">
								<%=image_tag("email.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
						<div class="col-md-4" style="text-align:center">
							<a href="http://ca.linkedin.com/in/kevineger/">
								<%=image_tag("linkedin_bw.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
						<div class="col-md-4" style="text-align:center">
							<a href="http://kevineger.me">
								<%=image_tag("www.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
					</div>
				</div>
			</div>
						<div class="row team-frame">
				<div class="col-lg-6">
					<%=image_tag("team/jake.jpg", :style => "width:100%") %>
				</div>
				<div class="col-lg-6">
					<h2>Jake Davies</h2>
					<p><strong>Co-Founder + Web Developer</strong></p>
					<p>Jake is a 3rd year computer science student at the University of British Columbia Okanagan. Jake’s key focus is on backend development and providing a seamless, working experience.</p>
					<div class="row" style="margin-top:40px;">
						<div class="col-md-4" style="text-align:center">
							<a href="mailto:jgdavies24@gmail.com">
								<%=image_tag("email.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
						<div class="col-md-4" style="text-align:center">
							<a href="">
								<%=image_tag("linkedin_bw.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
						<div class="col-md-4" style="text-align:center">
							<a href="http://jakedavies.info">
								<%=image_tag("www.png", :style => "width:70px; margin-top:-10px!important;") %>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>