<div id="profile-profile">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">
        <%= form_for(@user, :url => { :action => "update", :controller => 'registrations' }) do |f|%>
        <div id="item-title" class="form-group">
          <h2 class="field-title">Username</h2>
          <%= f.text_field :username, :class => 'form-control'%>
      </div>
      <div id="item-title" class="form-group">
          <h2 class="field-title">Email</h2>
          <%= f.text_field :email, :class => 'form-control'%>
      </div>
        <div id="item-pic" class="form-group">
          <h2 class="field-title">Item Picture</h2>
          <%= f.file_field :image, :class => 'pic-input'%>
          <p class="help-block">Update your profile picture</p>
        </div>
      <div id="update-password-button" class="form-group" style="margin-top:30px;">
          <button type="button" class="btn btn-default"> Update Password</button>
      </div>

      <div id="hidden-password-fields" class="well">
          <div id="item-title" class="form-group">
            <h2 class="field-title" style="padding-top:0;">New Password</h2>
            <%= f.password_field :password, :class => 'form-control', :disabled => 'disabled'%>
        </div>
        <div id="item-title" class="form-group">
            <h2 class="field-title">Confirm New Password</h2>
            <%= f.password_field :password_confirmation, :class => 'form-control', :disabled => 'disabled'%>
        </div>
        <div class="form-group" style="margin-bottom:0;">
         <button type="button" id="password-fields-collapse" class="btn btn-defualt">Close</button>
     </div>
 </div>
 <%= f.submit :type => 'submit', :class=>'btn btn-default btn-blue btn-post'%>
 <% end %>
</div>
<div class="col-lg-4">
    <div id="profile-picture">
        <div class="row">
          <%= image_tag @user.image.url(:default),:class => "featured-pic center-pic" %>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <div class="btn-group">
                    <a class="btn btn-default btn-lg" target="_blank" title="View Facebook Profile" href="http://www.facebook.com">
                      <i class="fa fa-facebook fa-lg fb"></i>
                  </a>
                  <a class="btn btn-default btn-lg" target="_blank" title="View Twitter Profile" href="http://www.twitter.com">
                      <i class="fa fa-twitter fa-lg tw"></i>
                  </a>
                </div>
                <h5>Click to connect Social Media</h5>
            </div>
        </div>
    </div>
    <!-- <div class="row"> -->
  <!-- </div> -->
 <!--        <div id="profile-picture">
          <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
          <div style="margin-top:15px;" class="row">
            <div style="margin: 0 auto;">
              <div class="btn-group">
                <a class="btn btn-default btn-lg" target="_blank" title="View Facebook Profile" href="http://www.facebook.com">
                  <i class="fa fa-facebook fa-lg fb"></i>
                </a>
                <a class="btn btn-default btn-lg" target="_blank" title="View Twitter Profile" href="http://www.twitter.com">
                  <i class="fa fa-twitter fa-lg tw"></i>
                </a>
              </div>
              <h5>Connect your social media</h5>
            </div>
          </div>
      </div> -->

  </div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
  $('#hidden-password-fields').hide();
  $('button','#update-password-button').on('click', function(){
      $("#user_password").removeAttr("disabled");
      $("#user_password_confirmation").removeAttr("disabled");
    $('#hidden-password-fields').show();
    $(this).hide();
});
  $('#password-fields-collapse').on('click', function(){
    $('#hidden-password-fields').hide();
    $('button','#update-password-button').show();

      $("#user_password").attr("disabled", "disabled");
      $("#user_password_confirmation").attr("disabled", "disabled");
});

});
</script>