<div class="col-md-8 col-md-offset-2">
	<div id="user-title" class="container">
		<h1>
			Kevin Eger's Posts
		</h1>
	</div>

	<div class="col-md-12">
		<div class="container">
			<div class="jumbotron post-jumbotron">
				<div class="container">
					<h2 class="post-name">Item Title</h2>
					
					<div class="row post-row">
						<div class="col-md-2">
							<h4>Item Price: $69</h4>
						</div>
						<div class="col-md-3">
							<%= image_tag("picolasCage.jpg", :class => 'featured-pic') %>
						</div>
						<div class="col-md-5">
							<h4>Picolas Cage is the face of MUT dev. He is the stock image that alwasy gets used no matter what. Jake thinks Picolas Cage is annoying however, one day he will learn the truth. Picolas Cage is GOD!
							</h4>
						</div>

						<!-- CONTACT SELLER -->
						<div class="container">
							<div class="contact-seller">
								<h5>Contact Seller</h5>
								<h6>Email Seller</h6>
								<h6>250-999-9999</h6>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="jumbotron post-jumbotron">
				<div class="container">
					<h2 class="post-name">Item Title</h2>
					
					<div class="row post-row">
						<div class="col-md-2">
							<h4>Item Price: $69</h4>
						</div>
						<div class="col-md-3">
							<%= image_tag("picolasCage.jpg", :class => 'featured-pic') %>
						</div>
						<div class="col-md-5">
							<h4>Picolas Cage is the face of MUT dev. He is the stock image that alwasy gets used no matter what. Jake thinks Picolas Cage is annoying however, one day he will learn the truth. Picolas Cage is GOD!
							</h4>
						</div>

						<!-- CONTACT SELLER -->
						<div class="container">
							<div class="contact-seller">
								<h5>Contact Seller</h5>
								<h6>Email Seller</h6>
								<h6>250-999-9999</h6>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="jumbotron post-jumbotron">
				<div class="container">
					<h2 class="post-name">Item Title</h2>
					
					<div class="row post-row">
						<div class="col-md-2">
							<h4>Item Price: $69</h4>
						</div>
						<div class="col-md-3">
							<%= image_tag("picolasCage.jpg", :class => 'featured-pic') %>
						</div>
						<div class="col-md-5">
							<h4>Picolas Cage is the face of MUT dev. He is the stock image that alwasy gets used no matter what. Jake thinks Picolas Cage is annoying however, one day he will learn the truth. Picolas Cage is GOD!
							</h4>
						</div>

						<!-- CONTACT SELLER -->
						<div class="container">
							<div class="contact-seller">
								<h5>Contact Seller</h5>
								<h6>Email Seller</h6>
								<h6>250-999-9999</h6>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="jumbotron post-jumbotron">
				<div class="container">
					<h2 class="post-name">Item Title</h2>
					
					<div class="row post-row">
						<div class="col-md-2">
							<h4>Item Price: $69</h4>
						</div>
						<div class="col-md-3">
							<%= image_tag("picolasCage.jpg", :class => 'featured-pic') %>
						</div>
						<div class="col-md-5">
							<h4>Picolas Cage is the face of MUT dev. He is the stock image that alwasy gets used no matter what. Jake thinks Picolas Cage is annoying however, one day he will learn the truth. Picolas Cage is GOD!
							</h4>
						</div>

						<!-- CONTACT SELLER -->
						<div class="container">
							<div class="contact-seller">
								<h5>Contact Seller</h5>
								<h6>Email Seller</h6>
								<h6>250-999-9999</h6>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="jumbotron post-jumbotron">
				<div class="container">
					<h2 class="post-name">Item Title</h2>
					
					<div class="row post-row">
						<div class="col-md-2">
							<h4>Item Price: $69</h4>
						</div>
						<div class="col-md-3">
							<%= image_tag("picolasCage.jpg", :class => 'featured-pic') %>
						</div>
						<div class="col-md-5">
							<h4>Picolas Cage is the face of MUT dev. He is the stock image that alwasy gets used no matter what. Jake thinks Picolas Cage is annoying however, one day he will learn the truth. Picolas Cage is GOD!
							</h4>
						</div>

						<!-- CONTACT SELLER -->
						<div class="container">
							<div class="contact-seller">
								<h5>Contact Seller</h5>
								<h6>Email Seller</h6>
								<h6>250-999-9999</h6>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

</div>