<!DOCTYPE html>
<html>
<head>
  <title>Mut</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="overflow-x: hidden; margin-top:50px;">
      <!-- Top Navbar
      ================================================== -->
      <div style = "margin-bottom:0px" class = "navbar navbar-blue navbar-inverse navbar-fixed-top">

        <div class="col-md-10 col-md-offset-1">

        <div class = "container">

          <%= link_to image_tag("logoMarkWG.png",:class => 'home-link'), main_app.root_path, :class=>'pull-left' %>
          
          <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>

          <ul class = "nav navbar-nav navbar-left">
            <li class = "<%= 'active' if params[:controller] == 'home' %>">
              <%= link_to 'Home', main_app.root_path %>
            </li>
            <li class = "<%= 'active' if params[:controller] == 'classified_categories' %>">
              <%= link_to 'Classifieds', main_app.classified_categories_path %>
            </li>
            <li class = "<%= 'active' if params[:controller].include?'forem' %>">
              <%= link_to 'Forum', forem.root_path %>
            </li>
          </ul>
          
          <p class="navbar-text pull-right">
            <% if defined?(current_user.email) %>
            Hi <%= current_user.email %>, <%= link_to 'Logout', main_app.destroy_user_session_path ,:method => :delete%>
            <% else %>
            <%= link_to 'Login', main_app.new_user_session_path %>
            <% end %>
          </p>
          <div id="search-field" class="pull-right">
            <%= render partial: 'layouts/search',locals: {category: nil}%>
          </div>
        </div>
        </div>

      </div><!-- /.navbar -->
      <%= yield %>
      <div class="row">
        <center><small>Copyright 2014. My Uni.</small></center>
        <br/>
        <br/>
        <br/>
      </div><!--/row-->
    </body>
    </html>
