<!DOCTYPE html>
<html>
<head>
  <title>Mut</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <!-- Top Navbar
      ================================================== -->
      <div style = "margin-bottom:0px" class = "navbar navbar-inverse navbar-static-top">
        <div class = "container">
          <a href = "#" class = "pull-left">
            <img class = "homeLink" src="pictures/logoMarkWG.png">
          </a>

          <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>

          </button>

          <div class = "collapse navbar-collapse navHeaderCollapse">

            <ul class = "nav navbar-nav navbar-left">
              <li class = "active">
                <a href = "#" > Home </a>
              </li>
              <li>
                <a href = "#" > Forums </a>
              </li>
              <li class = "dropdown">
                <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Classifieds <b class = "caret"></b></a>
                <ul class = "dropdown-menu">
                  <li><a href = "#">Classifieds One</a></li>
                  <li><a href = "#">Classifieds Two</a></li>
                  <li><a href = "#">Classifieds Three</a></li>
                  <li><a href = "#">Classifieds Four</a></li>
                </ul>
              </li>
              <li>
                <a href = "#" > Account </a>
              </li>
            </ul>
          <p class="navbar-text navbar-right">
            <% if defined?(current_user.email) %>
                Logged in as <%= current_user.email %>, <%= link_to 'Logout?', destroy_user_session_path ,:method => :delete%>
            <% else %>
                <%= link_to 'Login?', new_user_session_path %>
            <% end %>
          </p>
          </div>
        </div>
      </div><!-- /.navbar -->
      <%= yield %>
      <div class="navbar navbar-default" style="margin-bottom:0px; clear:both; margin-top:10px;">
        <div class = container>
          <p class = "navbar-text pull-left">Site powered by KE and JD</p>
          <a href = "http://jakedavies.info" style = "margin-left:10px;" class = "blueButton navbar-btn btn btn-info pull-right navbar-nav">Jake's Profile</a>
          <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" class = "blueButton navbar-btn btn btn-info pull-right navbar-nav">Kevin's Profile</a>
        </div>
      </div><!-- /.navbar -->
      <div class="row">
        <center><small>Copyright 2014. My Uni.</small></center>
        <br/>
        <br/>
        <br/>
      </div><!--/row-->
</body>
</html>
