<!DOCTYPE html>
<html>
<head>
  <title>My Uni Trade</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   <link rel="shortcut icon" href="/MUT_icon.ico" type="image/x-icon">
  <link rel="icon" href="/MUT_icon.ico" type="image/x-icon"> -->
  <%= favicon_link_tag 'MUT_icon.ico' %>
  <link rel="image_src" href="../../assets/images/logoBGNewMoto.png" />

  <!-- Meta Tags -->
  <meta name="description" content="The easiest way to buy and sell used textbooks at the University of Calgary!">
  <meta property="og:title" content="MyUniTrade" />
  <meta property="og:url" content="http://www.myunitrade.com" />
  <meta property="og:image" content="../../assets/images/logoMarkBWG" />
  <meta property="og:description" content="The easiest way to buy and sell used textbooks at the University of Calgary!" />
  <meta property="og:determiner" content="" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="MyUniTrade" />

</head>
<body style="overflow-x: hidden;">
  <div class = "navbar navbar-blue navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>
      </div>

      <div id="main-navbar-collapse" class="collapse navbar-collapse">
        <ul class = "nav navbar-nav">
          <li class="navbar-left"><%= link_to image_tag("logoMarkWG.png",:class => 'home-link'), main_app.root_path, :style => 'padding-top:4px; padding-bottom:0;'%></li>

          <li class = "navbar-left <%= 'active' if params[:action] == 'index' && params[:controller] == 'classified_posts' %>">
            <%= link_to 'Browse', main_app.classified_posts_path %>
          </li>
          <li class = "navbar-left <%= 'active' if params[:action] == 'new' && params[:controller] == 'classified_posts'%>">
            <%= link_to 'Create a Post', new_classified_post_path %>
          </li>
          <li class = "navbar-left visible-lg <%= 'active' if params[:action] == 'about_us' && params[:controller] == 'about'%>">
            <%= link_to 'About Us', about_path %>
          </li>
          <% if defined?(current_user.email) %>
          <li class="dropdown dropdown-blue pull-right navbar-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/profile/<%=current_user.id%>"><span class="glyphicon glyphicon-list"></span> Posts</a></li>
              <li><a href="/profile/<%=current_user.id%>#profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>

              <li>
                <a href="/profile/<%=current_user.id%>#messages"><span class="glyphicon glyphicon-envelope"></span>
                  Messages
                  <% if current_user.unread? %>
                  <span style="padding-left: 5px" class="badge pull-right alert-success">1<i class="fa fa-plus"></i></span>
                  <% end %>
                </a>
              </li>
              <!--<li><a href="/profile/<%=current_user.id%>#settings"> <span class="glyphicon-cog glyphicon"></span> Settings</a></li>-->
              <li class="divider"></li>
              <li>
                <%= link_to  main_app.destroy_user_session_path ,:method => :delete do%>
                <span class="glyphicon glyphicon-log-out"></span> Logout
                <% end %>
              </li>
            </ul>
          </li>
          <% else %>
          <li class="navbar-right"><%= link_to 'Login', main_app.new_user_session_path, {:class => "login"}%></li>
          <li class="navbar-right"><%= link_to 'Sign Up', main_app.new_user_registration_path, {:class => "login"}%></li>
          <% end %>
          <li class="navbar-right">
            <%= render partial: 'layouts/search' %>
          </li>
        </ul>
      </div>

    </div>
  </div><!-- /.navbar -->

  <div id="back-to-top" style="display: none;">
    <button class="btn-back-to-top btn-lg"><span class="glyphicon glyphicon-chevron-up"></span></button>
  </div>
  <div class="animated fadeIn" style = "padding-top:100px;">
    <%= yield %>
  </div>

  <% if notice %>
  <script>
    $(document).ready(function(){

      toastr.options.closeButton = true;
      toastr.options.positionClass = "toast-bottom-right";
      toastr.info('<%=notice %>');

            //show when the button is clicked
          })
  </script>
  <% end %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53738519-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
